@use './index.scss' as *;
.file-input-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ced4da;
    border-radius: 4px;
    width: 100%;
    height: 32px;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
  }
  
  .file-input-label {
    background-color:rgb(220 220 220 / 94%);
    color: #222;

    padding: 5px 10px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    white-space: nowrap;
  }
  
  .file-input {
    display: none; /* Hide the default file input */
  }
  
  .file-name {
    font-size: 14px;
    color: #6c757d;
    flex: 1;
  }
  