// All imports go here
@import "./assets/fonts/index";
@import "./mantine";

@import "react-big-calendar/lib/sass/styles";
@import "react-big-calendar/lib/addons/dragAndDrop/styles";
//
.table>:not(caption)>*>* {
  padding: .5rem .5rem !important;
  background-color:transparent !important;
  border-bottom-width: 0px !important; 
  box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, var(--bs-table-accent-bg))) !important;
}
.text-danger {
  color: red;
}
.text-warning{
  color: #ffbc00;
}
.text-success{
  color: green;
}
:root {
  color-scheme: only light;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: unset;
  padding: unset;
}

a {
  text-decoration: none;
  color: unset;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter-Regular", sans-serif;
  font-size: 16px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  //// UnComment below code to disable text select on all platforms !
  //-webkit-touch-callout: none;
  //-webkit-user-select: none;
  //-khtml-user-select: none;
  //-moz-user-select: none;
  //-ms-user-select: none;
  //user-select: none;
}
