$font-family: 'Inter', sans-serif;
$font-feature-settings: 'liga' off, 'clig' off;
$font-size-12: 10px;
$font-size-14: 14px;
$font-weight-500: 500;
$line-height-16: 16px;
$border-radius: 12px;
$border-color: #DCDCDC;
$background-white: var(--Primary-Base-White, #FFF);
$box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
$padding-default: 10px;
$text-color: #0A0C0E;
$gap: 1em;

.bar {
  width: auto;
  height: 72px;
  flex-shrink: 0;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  background: $background-white;
  box-shadow: $box-shadow;
  display: flex;
  align-items: center;
  padding: 0 15px;
  gap: $gap;
  cursor: pointer;

  @media (max-width: 667px) {
    width: auto;
    height: auto;
    flex-shrink: 0;
    border-radius: 12px;
    background: var(--Primary-Base-White, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 5%;
  }
}

.model2 {
  height: 583px;

  .mantine-Modal-body {
    padding: 0 !important;
  }
}
.Disabled {
  width: 66px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #fcf7c3;
  color: #524A1F;
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resultslength-ticktes{
  color: #575B60;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
}
.labelText {
  color: #0A0C0E !important;
  font-feature-settings: 'liga' off, 'clig' off !important;
  font-family: Inter, sans-serif !important;
  font-size: 14px !important;
  font-style: normal !important;
  line-height: 20px !important;
  /* 142.857% */
}


.paginationContainer {
  padding: 1.5%;
  align-items: end;
}


.m_326d024a:where(:disabled, [data-disabled]) {
  width: 48px !important;
  height: 32px !important;
  flex-shrink: 0 !important;
}



.txtselect {
  color: var(--Black, #0A0C0E);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.customSelect {
  color: var(--Black, #0A0C0E);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  border-radius: 4px;
  border: 1px solid #E2E2E2;
  background: var(--Primary-Base-White, #FFF);
  width: 52px;
  height: 32px;
  flex-shrink: 0;
}

.table {
  cursor: pointer;
  width: 100%;
  border-collapse: collapse;
  thead {
    border-bottom: 1px solid #E2E2E2;
    background: #F7F7F7;

    th {
      padding: 12px;
      text-align: left;
      color: var(--Grey-2, #686F7C);
      font-feature-settings: $font-feature-settings;
      font-family: $font-family;
      font-size: $font-size-12;
      font-weight: $font-weight-500;
      line-height: $line-height-16;
    }
  }

  tbody {

    tr {
      &:hover {
        background-color: #f1f1f1;
      }

      td {
        padding: $padding-default;
        border-top: 1px solid #dee2e6;
      }
    }
  }
}

.avatar {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 8px;
}

.txttablename,

.txtFilter
{
  font-feature-settings: $font-feature-settings;
  font-family: $font-family;
  font-size: $font-size-12;
  font-weight: $font-weight-500;
  line-height: $line-height-16;
}
.txttab2{
  color: var(--Black, #0A0C0E);
font-feature-settings: 'liga' off, 'clig' off;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 133.333% */
letter-spacing: -0.5px;
}
.txtbnt {
  font-feature-settings: $font-feature-settings;
  font-family: $font-family;
  font-size: $font-size-14;
  font-weight: $font-weight-500;
  line-height: $line-height-16;
}

.titremodel {

  color: #0A0C0E;
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 125% */
}

.statusBadge,
.Pending,
.Tovalidate,
.Blocked,
.Active,
.Inactive,
.Validated {
  border-radius: 24px;
  font-family: $font-family;
  font-size: $font-size-12;
  font-weight: $font-weight-500;
  line-height: $line-height-16;
  display: flex;
  justify-content: center;
  align-items: center;
}


.Pending {
  width: 75px;
  height: 20px;
  background: #E0EBFF;
  color: #2C74FF;
  gap: 0.5em;
}

.Tovalidate {
  width: 91px;
  height: 20px;
  background: #f2ff00;
  color: #5D4212;
  gap: 0.5em;
}

.Blocked {
  width: 62px;
  height: 20px;
  background: #FCD4C3;
  color: #522B1F;
}
.Inactive {
  width: 53px;
  height: 20px;
  background: #fcf6c3;
  color: #1F5231;
}
.Active {
  width: 53px;
  height: 20px;
  background: #C3FCD4;
  color: #1F5231;
}

.Validated {
  width: 70px;
  height: 20px;
  background: #C3FCD4;
  color: #3A521F;
}

.bagenumber1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3A521F;
  font-family: $font-family;
  font-size: $font-size-12;
  font-weight: $font-weight-500;
  line-height: $line-height-16;
  width: 35px;
  height: 20px;
  border-radius: 24px;
  background: #E1FCC3;
}

.bnt1,
.bnt2,
.bntFilter {
  width: 128px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  font-family: $font-family;
  font-size: $font-size-14;
  font-weight: $font-weight-500;
  line-height: 20px;
}

.bnt1 {
  background: #0A0C0E;
  color: $background-white;
  height: 36px;  width: auto;
  @media (max-width: 667px) {
    width: 36px;
    height: 36px;
  }

}

.bnt2 {
  width: 136px;
  background: #E3E3E3;
  color: $text-color;
}

.bntFilter {
  width: 93px;
  height: 28px;
  border: 1px solid $border-color;
  background: $background-white;
  box-shadow: $box-shadow;

  @media (max-width: 667px) {
    width: 32px;
    height: 32px;
  }
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid $border-color;
  height: 56px;
  padding: $padding-default;
  gap: 0.5em;

  @media (max-width: 667px) {
    border-right: 0px;
    border-bottom: 1px solid $border-color;
    width: 100%;

  }
}

.box:last-child {
  border-right: none;
}

.Label {
  color: var(--Grey-1, #575B60);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  /* 133.333% */
}

.value {
  font-feature-settings: $font-feature-settings;
  font-family: $font-family;
  font-size: $font-size-12;
  font-weight: $font-weight-500;
  line-height: $line-height-16;
  margin: 0;
  text-align: center;
}

.value {
  color: $text-color;
  font-size: $font-size-14;
  font-weight: 700;
}

.body {
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(241, 241, 241);
  gap: 2em;
  overflow-x: hidden;
}
.textab2 {
  font-feature-settings: $font-feature-settings;
  font-family: $font-family;
  font-size: $font-size-12;
  font-weight: 500;
  line-height: 12px;
}



.textab {
  font-feature-settings: $font-feature-settings;
  font-family: $font-family;
  font-size: $font-size-12;
  font-weight: 600;
  line-height: 14px;
}

.txtnodata {
  color: $text-color;
  text-align: center;
  font-family: $font-family;
  font-size: $font-size-14;
  font-weight: $font-weight-500;
  line-height: 20px;
}

.tableContainer {
  --container-size: none !important;
  max-width: none !important;
  padding-inline: inherit !important;
  width: 100%;
}
.headertable {
  position: sticky;
  transition: box-shadow 150ms ease;
}

.scrolled {
  box-shadow: var(--mantine-shadow-sm);
}
.BoxTablelicence {
  width: auto;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid $border-color;
  background: $background-white;
  box-shadow: $box-shadow;
padding: 2%;
}
.BoxTable {
  width: auto;
  height: 640px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid $border-color;
  background: $background-white;
  box-shadow: $box-shadow;

}
.input-element{
  @media (max-width: 667px) {
input{
  width: 100% !important;  
}


  }
}
.menuItem {
  display: flex;
  align-items: center;
}

.bulkActionButton {
  margin-left: 1em;
  width: 136px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #C9C9C9;
  color: #0A0C0E;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  cursor: pointer;

  @media (max-width: 667px) {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #E3E3E3;

  }
}

.menuDropdown {
  margin-left: -3%;
  width: 185px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--Primary-Base-White, #FFF);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.08);
}

.buttonText {
  text-align: right;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.buttonText:hover {
  color: #fff;
}

.menuItem {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  font-size: 14px;

  .menuItemText {
    color: #0A0C0E;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; 
  }

  .menuItemIcon {
    margin-right: 10px; // Space between icon and text
  }
}

.menuItem:hover {
  background-color: #f0f0f0;
}
.subtitle{
  margin-left: 40px;
  width: 340px;
}


@media (max-width: 480px) {
  .pagination{
    margin-bottom: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .subtitle{
    margin-left: 0px !important;
    width: auto !important;
  }
  
  .modalBody {
    padding-bottom: 1rem;
  }
  

  .modalOverlay {
    background-color: rgba(0, 0, 0, 0.5); 
  }

  .modalContent {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0;
    overflow: hidden;
  }
  .modalTitle {
    font-weight: bold;
    font-size: 18px;
    color: #0A0C0E;
    font-size: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: 28px; 
    text-align: center;
  }
  .model{
    position: absolute;
    bottom: 0px;
    left: 0px;
    
  }
}