/* Keyframes for icon animation */
@keyframes icons-hover {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Sidebar styles */
.Sidenavbar {
  position: relative;
  border-right: 1px solid #F3F3F3; /* Adds a border to the right */
  height: 100vh;
  width: 14.8em;
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
  background-color: #fff; /* Ensures contrast with the shadow */
  box-shadow: -1px 0 10px rgba(0, 0, 0, 0.2); /* Standard shadow */
  transition: width 0.3s ease-in-out; /* Smooth transition for collapsing */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Collapse state for smaller sidebar */
  &.collapsed {
    width: 5.5em; /* Shrink the sidebar when collapsed */
  }

  @media (max-width: 667px) {
    width: 100%;
    height: auto;
    position: static;
  }
}

/* Sidebar main section */
.SidenavbarMain {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 6px;

  @media (max-width: 667px) {
    justify-content: space-between;
    padding: 20px;
  }
}

/* Logo styling */
.Logo {
  padding: 10px 15px;
  width: 144px;
  height: 47px;
  cursor: pointer; /* Make logo clickable */
  transition: width 0.3s, height 0.3s;

  @media (max-width: 667px) {
    padding: 0;
    height: 26.34px;
    width: 190px;
  }
}

/* Link section styles */
.linkSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;

  @media (max-width: 667px) {
    margin-top: 0;
  }
}

/* Link item styles */
.linkside {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: #4b5563;
  text-decoration: none;
  border-radius: 4px;
  width: 100%;
  transition: background-color 0.3s, color 0.3s;

  &.active {
    background-color: #e4ecfb;
    color: #2c74ff;
  }

  &:hover {
    .linkIcon {
      animation: icons-hover 0.8s linear infinite;
    }

    @media (max-width: 667px) {
      background-color: #e4ecfb;
    }
  }

  &.last {
    margin-bottom: 20px;

    @media (max-width: 667px) {
      margin-bottom: 0;
    }
  }
}

/* Link icon styling */
.linkIcon {
  margin-right: 10px;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease-in-out; /* Smooth transition for icon scale */
  transform-origin: center; /* Ensures animation happens from the center */

  @media (max-width: 667px) {
    animation: none !important;
  }
}

/* Section title styles */
.sectionnone {
  display: none;
}

.section {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  color: #49526b;
  margin: 20px 0 5px 15px;
  pointer-events: none;
  cursor: default;
  opacity: .5;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 700;
  font-size: calc(var(0.875rem) * .74);
}

/* Text link styling */
.textlink {
  color: var(--Black, #0A0C0E);
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

/* Log-out link styling */
.logoutext {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #f55757;
}

.logOutLink {
  cursor: pointer;
}

/* Hidden group for mobile view */
.noneGroup {
  display: none;

  @media (max-width: 667px) {
    display: flex;
  }
}

/* Avatar section for mobile */
.noneavtar {
  display: none;

  @media (max-width: 667px) {
    display: flex;
    margin-top: 80px;
  }
}

/* Icon close button for mobile */
.IconClose {
  display: none;

  @media (max-width: 667px) {
    display: block;
  }
}

/* Username styling */
.Username {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: #0b0d0f;
}

/* User role styling */
.UserRole {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  color: #686f7c;
}

.linkside.centered {
  justify-content: center; /* Center content only when collapsed */
}
