@use "../../../utilities/variables" as *;
@use "../../../utilities/mixins" as *;

main#login {
    padding: 2.5rem;
    @include tablet {
        padding: 2.5rem 0 0; 
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include tablet {
            justify-content: center;
        }
        .logo {
            display: grid;
        }
    }
    .register-link {
        margin: 0;
        .link {
            color: $black;
            font-weight: 600;
            text-decoration: underline;
            text-underline-offset: 4px;
            text-decoration-thickness: 2px
        }
        @include tablet {
            margin-top: 2rem;
            font-size: 14px;
            text-align: center;
        }
    }

    section {
        width: 100%;
        height: calc(100dvh - 8.5rem);
        display: flex;
        justify-content: center;
        align-items: center;

        .box {
            @include tablet {
                width: 90%;
            }
            h1 {
                font-size: 1.75rem;
                font-weight: 500;
                line-height: 2rem;
                text-align: center;
                margin-bottom: 2.5rem;
                @include mobile {
                    text-align: start;
                    margin-bottom: 1.25rem;
                    font-weight: 600;
                    font-size: 1.125rem
                }
            }

            form {
                p {
                    color: $black;
                    text-align: end;
                    font-size: 0.9;
                    font-weight: 500;
                    text-decoration: underline;
                    text-underline-offset: 4px;
                    text-decoration-thickness: 2px
                }

                button[type='submit'] {
                    margin-top: 1.5rem;
                }

                button:last-child {
                    border: 0.75px solid $lightGrey;
                    background: $offWhiteLight;
                    width: 100%;
                    height: 3rem;
                    color: $black;
                    border-radius: 8px;
                    margin-top: 1.5rem;
                    cursor: pointer;

                    img {
                        width: 1.5rem;
                        height: 1.5rem;
                    }

                    @include flexcenter;
                    gap: 0.5rem;
                }

                .wrapper {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    margin: 1.75rem 0;

                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        width: 15.8rem;
                        border-bottom: 1px solid $lightBlue;
                    }

                    &::before {
                        left: 0;
                    }

                    &::after {
                        right: 0;
                    }

                    span {
                        position: relative;
                        text-align: center;
                        color: $greyBlue;
                    }
                }
            }
        }
    }
}