// DEVICE BREAKPOINTS
$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$small-screen-breakpoint: 1024px;
$large-screen-breakpoint: 1200px;

// ------------------- COLORS ---------------------//
$blue:         #2C74FF;    
$teal:         #12B886;
$black:        #0A0C0E;
$darkGrey:     #53545E;
$lightGrey:    #DFDFE4;
$mediumGrey:   #CCCED3;
$offWhite:     #F3F5F9;
$white:        #FFFFFF;
$red:          #f12626;

// Lighter shades
$offWhiteLight: #F9FBFC;
$lightBlue:     #CDD1D6;
$greyBlue:      #828C98;


@mixin computer{
    @media(max-width: #{$large-screen-breakpoint}){
        @content
    }
};
@mixin notebook {
    @media(max-width: #{$small-screen-breakpoint}){
        @content
    }
};

@mixin tablet{
    @media(max-width: #{$tablet-breakpoint}){
        @content
    }
};
@mixin mobile{
    @media(max-width: #{$mobile-breakpoint}){
        @content
    }
};