.animation {
  width: 100%;
    > div {
        display: none;
        animation: fadeInOut 0.4s ease forwards; 

        &.display {
            display: flex;
            justify-content: center;
        }
    }

    @keyframes fadeInOut {
        0% {
          transform: scale(0.3);
        }
        100% {
          transform: scale(1);
        }
      }
    
}