// Components
@forward './sidebar/index';
@forward './general/index';
@forward './congratulation/index';
@forward './avatar/index';
@forward './input/index';
@forward  './animation/index';
@forward './media-query/index';
@forward './card/index';
@forward './select-item/index';
@forward './modal/index';

.m_539e827b {
  border-width: 3.5px;
  border-right: transparent;
  border-left: transparent;
  border-top: transparent;
}