.skeleton {
  width: 100%;
  margin-top: 20px;
}

.skeleton-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  &-left {
    display: flex;
    flex: 0.75;
  }

  &-right {
    display: flex;
    justify-content: flex-end;
    flex: 0.25;
  }
}

.skeleton-cell {
  background-color: linear-gradient(90deg, #d3d3d3 25%, #f3f3f3 50%, #dbdbdb 75%);
  border-radius: 4px;
  animation: shimmer 1.5s infinite linear;
}

.skeleton-rectangle,
.skeleton-ellipse,
.skeleton-box,
.skeleton-snake,
.skeleton-rectangle1,
.skeleton-rectangle2,
.skeleton-rectangle3,
.skeleton-rectangle4,
.skeleton-rectangle5 {
  background: linear-gradient(90deg, #dbdbdb 25%, #f3f3f3 50%, #dbdbdb 75%);
  background-size: 200% 100%;
}

.skeleton-ellipse {
  border-radius: 50%;
  margin-left: 10px;
}

#bigSkeleton {
  height: 72px;
  width: 100%;
  margin-bottom: 20px;
}

#halfBigSkeleton {
  height: 40px;
  width: 100%;
  max-width: 413px;
}

.rightBigSkeletons {
  height: 40px;
  width: 140px;
  margin-left: 10px;
}

.skeleton-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .skeleton-rectangle {
    flex: 1;
    height: 20px;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  .skeleton-ellipse {
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }
}

@keyframes shimmer {
  0% {
    background-position: -100% 0;
  }

  100% {
    background-position: 100% 0;
  }
}

.sixSkeletonHeader {
  width: 100px;
  height: 28px;
}

#sixSkeletonContainer {
  display: flex;
  padding-bottom: 50px;
  margin-top: 30px;
}

#rightTwoSkeletonsContainer {
  display: flex;
  flex: 0.25;
  margin-left: auto;
  
}

.skeleton-box {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.skeleton-snake {
  width: 102px;
  height: 12.25px;
  margin-left: 20px;
}

.skeleton-rectangle1 {
  width: 53px;
  height: 20px;
  margin-left: 100px;
}

.skeleton-rectangle2 {
  width: 23px;
  height: 10.5px;
  margin-left: 40px;
}

.skeleton-rectangle3 {
  width: 47px;
  height: 10.5px;
  margin-left: 150px;
}

.skeleton-rectangle4 {
  width: 85px;
  height: 10.5px;
  margin-left: 50px;
}

#dotsContainer {
  display: flex;
  margin-left: 50px;
}

.skeleton-rectangle5 {
  width: 62px;
  height: 10.5px;
  margin-left: 50px;
}


@media (max-width: 480px) {

  /* Adjustments for mobile screens */
  #halfBigSkeleton {
    width: 95%;
  }

  #bigSkeleton {
    width: 100%;
    height: 300px;
  }

  .rightBigSkeletons {
    width: 40px;
  }

  #skeletonBox {
    width: 50px;
    height: 50px;
  }

  .skeleton-ellipse,
  .skeleton-rectangle1,
  .skeleton-rectangle3,
  .skeleton-rectangle4,
  .skeleton-rectangle5 {
    display: none;
  }

  .skeleton-rectangle2 {
    width: 53px;
    height: 20px;
    margin-left: auto;
  }

  .singleSkeleton-ellipse {
    display: block ;
    border-radius: 50%;
    margin-left: 10px;
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }
}