@use '../../utilities/variables' as *;

.modal-header{
    display: flex;
    flex-direction: column;
    width: 100%;
    &__section{
        width: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    &__selected {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        gap: 0.75rem;
        width: 100%;
        height: fit-content;
    }
    &__input {
        background-color: $offWhite;
        &:focus {
           background-color: white;
        }
    }
}

.checkbox {
    width: 100%;
    height: fit-content;
    padding: 0.5rem 0.75rem;
    border-radius: 7px;
    &:hover {
        cursor: pointer;
        background-color: rgba($color: $darkGrey, $alpha: 0.1);
    }
    &__title{
        text-transform: capitalize;
        font-size: 0.875rem;
    }
}

.tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.25rem 0.5rem;
    border-radius: 50px;
    background-color: #e3e6fd;
    gap: 0.25rem;
    &__icon {
        transition: all 0.3s;
        color:$darkGrey;
        &:hover {
            cursor: pointer;
            color: $red;
        }
    }
    &__text {
        font-size: 0.75rem;
        font-weight: 500;
    }
}