@use "../../utilities/variables" as *;

#input-container {
    margin-bottom: 1.5rem;
    .input {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 35rem;

        @include tablet {
            width: 100%;
        }

        label {
            position: absolute;
            top: 14px;
            left: 1.4rem;
            font-size: 0.8rem;
            line-height: 1rem;
            transition:
                top 0.3s,
                font-size 0.3s,
                transform 0.3s;
        }
        fieldset {
            position: absolute;
            inset: -5px 0px 0px;
            margin: 0px;
            padding: 0px 1.2rem;
            pointer-events: none;
            border-style: solid;
            border-width: 1px;
            overflow: hidden;
            min-width: 0%;
            border-radius: 8px;

            legend {
                display: block;
                padding: 0;
                height: 11px;
                font-size: 0.75em;
                visibility: hidden;
                max-width: 0.01px;
                white-space: nowrap;
                span {
                    padding-left: 5px;
                    padding-right: 5px;
                    display: inline-block;
                    opacity: 0;
                }
            }
        }
        input {
            width: 35rem;
            height: 5rem;
            padding: 1.37rem;
            border: 1px solid $lightGrey;
            border-radius: 8px;
            outline: none;
            @include tablet {
                width: 100%;
            }

            &::placeholder {
                transform: translateY(1rem);
                font-size: 1rem;
                opacity: 0.3;
                transition:
                    top 0.3s,
                    font-size 0.3s;
            }
            &:focus {
                border: none;
                &::placeholder {
                    transform: translateY(0);
                    font-size: 1rem;
                    opacity: 0.5;
                }
            }
        }
        input:focus + label {
            transform: translateY(-100%) scale(0.8);
            font-size: 0.8em;
            padding: 0.5rem;
        }
        input:focus ~ fieldset {
            border-color: $blue;
            border-radius: 8px;
            legend {
                max-width: 4rem;
                &.fullname {
                    max-width: 6.5rem;
                }
                &.password {
                    max-width: 5rem;
                }
                &.confirmpassword {
                    max-width: 8rem;
                }
            }
        }

        .eye-container {
            position: relative;
            .eye {
                width: 1.5rem;
                height: 1.5rem;
                position: absolute;
                right: 1.5rem;
                top: 50%;
                transform: translateY(-50%);
                opacity: 0.5;
                cursor: pointer;
            }
        }
    }
}

.validation {
    width: 27rem;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 0.5rem;
    margin-top: 1.25rem;
    margin-bottom: 0.5rem;

    @include mobile {
        width: 100%;
        grid-template-columns: repeat(1, auto);
    }
    .msg {
        display: flex;
        gap: 0.5rem;
        span {
            font-size: 0.8rem;
            font-weight: 400;
            color: $darkGrey;
        }
        &.success {
            span {
                color: $teal;
            }
        }
    }
}

.pinCodeCard {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35rem;
    height: 5rem;
    border-radius: 0.5rem;
    background-color: $offWhiteLight;
    margin-bottom: 1.75rem;
    gap: 0.5rem;
    input {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 8px;
        border: none;
        background-color: inherit;
        margin-bottom: 0.4rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        &:focus {
            outline: none;
        }
    }
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 0.5rem;
    opacity: 0;
    animation: fadeInOut 0.3s ease forwards;
    animation-delay: 0.1s;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
.phone {
    display: flex;
    width: 100%;
    height: 3rem;
    border: 1px solid $lightGrey;
    border-radius: 0.5rem;
    margin-top: 1rem;
    position: relative;
    .search-phone {
        opacity: 0;
        position: absolute;
    }
    input {
        border: none;
        width: 100%;
        height: 100%;
    }
    .dropdown {
        border: 1px solid $lightGrey;
        background-color: $white;
        z-index: 222;
        height: 13rem;
        max-height: 10.25rem;
        overflow: auto;
        position: absolute;
        top: 3rem;
        padding: 0.2rem;
        border-radius: 0.5rem;
        width: fit-content;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        scrollbar-width: thin;
        scrollbar-color: $darkGrey $white;

        div {
            &:hover {
                background-color: gray;
                color: white;
            }
        }
    }

    .dropdown::-webkit-scrollbar {
        width: 8px;
    }

    .dropdown::-webkit-scrollbar-thumb {
        background-color: $darkGrey;
        border-radius: 4px;
    }
}

.tags-input {
    input {
        flex: 7;
        padding: 0 12px;
        border: 1px solid #efefef;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        border-right: none;
        outline: none;
    }

    button {
        flex: 1;
        border: 1px solid #efefef;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-left: none;
        outline: none;
        cursor: pointer;
    }
}
